<html>
    <head>
        <title>Hotel</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
        </script>
       <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    
       <script type="text/javascript">
           $( document ).ready(function() {
    
            $('input[name="items"]'). click(function(){
            $('p').html("the items are:"+"<br>");
                   $('input[name="items"]:checked').each(function() {
                       $("p").append(this.value+"<br>");
                   });
    
                  });
    
           });
       </script>
    
        <style>
            img{
                width:200px;
                height:200px;
            }
           
           ul {
    list-style-type: none;
}
div{
    float: left;
}

        </style></head>
    <body ng-app="">
        <div style="width:100%">
        <ul>
            <li>
        <input type="checkbox" ng-model="bread"> bread</li>
        <li> <input type="checkbox" ng-model="milk"> milk</li>
        <li> <input type="checkbox" ng-model="egg"> egg</li>
        <li> <input type="checkbox" ng-model="chicken"> chicken</li>
        <li> <input type="checkbox" ng-model="pizza"> pizza</li>
    <li><input type="checkbox" ng-model="veg"> veg</li></ul></div>
    <div id="div1" style="width:100%">

    </div>
    <br>
    <p></p>
    <script src="test.js">
    </script> 
    </body>
</html>